<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag_collection.name %>
</p>

<%= link_to 'Edit', edit_tag_collection_path(@tag_collection) %> |
<%= link_to 'Back', tag_collections_path %>
