/* line 5, /Users/seii/Documents/workEventer/Eventer/app/assets/stylesheets/events.css.scss */
.animate-hide {
  -webkit-transition: all linear 1.0s;
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

/* line 16, /Users/seii/Documents/workEventer/Eventer/app/assets/stylesheets/events.css.scss */
.animate-hide.ng-hide-add, .animate-hide.ng-hide-remove {
  display: block !important;
}
/* line 19, /Users/seii/Documents/workEventer/Eventer/app/assets/stylesheets/events.css.scss */
.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

/* line 26, /Users/seii/Documents/workEventer/Eventer/app/assets/stylesheets/events.css.scss */
.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}
