<p class="title"></p>
<p class="tags"></p>
<p class="summary"></p>
<p class="place_name"></p>
<p class="address"></p>
<p class="term"></p>
<p class="comment"></p>
<input type="button" class="detail" value="詳細" onClick="detail()">
<input type="button" class="comment_mode()" value="コメント" onClick="comment_mode()">
